
.navbar a{
  text-decoration: none;
  transition: .2s;
}

.navbar .navbar-brand a{
  color:#DCDCDC;
}

.navbar .nav-link a{
  color: #A0A0A0;
}

.navbar .nav-link a:hover {
  color: #c5c3c3;
}

.pageAbout{
	margin-top: 40px;
}

.pageAbout .cards{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.pageAbout-title{
	display: flex;
	gap: 20px;
	align-items: center;
}

.pageAbout .comments{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10px 0;
}

.loadin{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 61px;
}

.card{
  width: 100%;
}

.card-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.photos-list-item{
  width: 120px;
  height: 120px;
  position: relative;
}


.photos-list-item-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(247, 59, 59, 0.707);
  border-radius: 5px 5px 0 5px;
  cursor: pointer;
}

.photos-list-item-photo{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

